<% if notice %>
  <aside id="notice"> <%= notice %> </aside>
<% end %>

<h1> Catalog </h1>

<ul class="catalog">
  <% @products.each do |product| %>
    <li>
      <%= image_tag(product.image_url) %>
      <h2><%= product.title %></h2>
      <p><%= sanitize(product.description) %></p>
    </li>
    <div class="price">
      <%= product.price %>
    </div>
  <% end %>
</ul>


